/* General Styles for the Register form */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw; /* Full width of the viewport */
    background-color: #f0f9f0; /* Light green background */
    box-sizing: border-box;
    padding: 20px; /* Prevent content from being too close to the edges */
  }
  
  
  .register-form {
    background-color: #ffffff;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    color: #4CAF50;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="date"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
  }
  
  .form-group input:focus {
    border-color: #4CAF50;
  }
  
  .radio-group {
    display: flex;
    justify-content: space-around;
  }
  
  .radio-group label {
    color: #4CAF50;
  }
  
  .submit-button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #45a049;
  }
  
  .error-message {
    color: red;
    font-size: 12px;
  }
  